DATABASE_URL=postgresql+asyncpg://postgres:AIAAProject2024@db.ewrqazwiufcfgfscewzj.supabase.co:5432/postgres
SUPABASE_URL=https://ewrqazwiufcfgfscewzj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3cnFhendpdWZjZmdmc2Nld3pqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNjc1MjEsImV4cCI6MjA5Mjk0MzUyMX0.S1ieJyB7cekiv73P_p6-IcoYb3syeNQjKIdxAxEX4h4
PINECONE_API_KEY=pcsk_6tn6gJ_Csm63Npf6i8jUePcVAu2bRrDc2bwv4sy3PMZ29i65p99BzKAZHisMfimGXQqViP
PINECONE_INDEX_NAME=uzair
GEMINI_API_KEY=AIzaSyC6I6m2Pdqxw9vNVbJEPM2-PSKazuXiUxI
SECRET_KEY=7ec91f2e6361407e85491a9b60f94673e3edd8ab85edb008244445a2c43dc516
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


# password: AIAAProject2024